
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Namtrak</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.navbar-right {
  float: right;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
footer{
  text-align: center;
}

</style>

</head>

<body>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/index">DABI Namtrak</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/index">Home</a></li>
      <li><a href="{{url_for('check_schedule')}}">Trains Schedule</a></li>
      <!-- <li><a href="#">Page 2</a></li> -->
      <form class="navbar-form navbar-left" action="{{ url_for('reservation') }}" method="post" >
      <div class="form-group">
        <input type="text" class="form-control" name="passengerID" placeholder="Enter passengerID, find reservations">
      </div>
      <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
    </form>


    </ul>
    <ul class="nav navbar-nav navbar-right">

      <li><a href="{{url_for('train_status')}}"><span class="glyphicon glyphicon-user"></span> Check Train Status </a></li>
      <li><a href="{{url_for('check_db')}}"><span class="glyphicon glyphicon-log-in"></span> Check DB data </a></li>

    </ul>
  </div>
</nav>





{% block content %}

{% endblock content %}

<!-- <p><strong>Done By CCNY CSC 336</strong></p> -->

<hr>

        <footer>
          <p>&copy; CCNY CSc 336 Database</p>
        </footer>
</body>
</html>
