{% extends 'layout.html' %}
{% block content %}
<br/>

    <h2 style=" text-align: center;">Arrival Time Of Train {{ train_num }}:</h2>

    <div style=" text-align: center; display: block;">
    <table style="max-width:800px;" align="center">
        <thead>
        <tr>
            <th>Train Number</th>
            <th>Station Name</th>
            <th>Arrival Time</th>
            <th>Departure Time</th>
        </tr>
        </thead>
    <tbody>
       <!-- still working on it -->
    </tbody>
    </table>
    </div>
{% endblock %}
