{% extends 'layout.html' %}
{% block content %}
    <br/>
    <h2 style=" text-align: center;">Status For Train {{ train_num }}:</h2>



    <div style=" text-align: center; display: block;">
    <table style="max-width:800px;" align="center">
        <thead>
        <tr>
            <th>Station</th>
            <th>Time In</th>
        </tr>
        </thead>
    <tbody>
        {% for row in stopsat %}
            <tr>
                <td>{{ row[0] }}</td>
                <!-- display with red bg color if train is delayed -->
                {% if row[2] %}
                <td color="#ff5050">{{ row[1] }} Delayed</td>
                {% else %}
                <td>{{ row[1]}}  On time</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
{% endblock %}
