{% extends "layout.html" %}
{% block content %}
<br/>
<br/>
<br/>
<br/>


<h2 style="padding:0 10px 0 10px; text-align:center;"> Seats stats for train {{train_num}} </h2>
{% for s in seats %}
<table>
	<tr>
		<td>
			Seats
		</td>
		<td>
			Between stations:
		</td>
	</tr>
</table>
	<table >
		<tr >
			<td style="padding:0 50px 0 50px;">{{s['seats']}}</td>
			<td style="padding:0 40px 0 40px;">{{s['station1']}}</td>
			<td style="padding:0 40px 0 40px;">{{s['station2']}}</td>

		</tr>

	</table>
	</a>
	{% endfor %}


{% endblock content %}