

{% extends "layout.html" %}


{% block content %}


<script type="text/javascript"
        src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
</script>
<script type="text/javascript"
        src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
</script>
<script type="text/javascript"
        src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
</script>
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen"
                                       href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
<head>
<style type="text/css">
    
    .page{
      background-color: black;
      text-align: center;
      
    }
    h1 {
      margin-top: 2%;
    }
    .content{
     margin-top: 2%; 
    }
    label{
      font-size: 14px;
    }
    .mar-top30{
      float: middle;
    }
    .date{
      color:red;
      float: middle;
      
    }
    .warning{
      color: black;
      background-color: yellow;
    }
    
    .tripchoices{
      margin-bottom: 1%;
    }

  </style>

</head>

<div class="page">
  <div class="panel">
    <div class="title">
      <h1>Welcome to Train Status Page</h1>
    </div>
    <div class="warning"> There is a problem with train {{root_train}} </div>
    <div class="warning">These trains might have updated arrival times: {{ affected_trains }}</div>
    <div class="content"> 
      <div class="contact-form mar-top30">
        <form method="post" action="{{ url_for('show_status') }}">
          <label> <span>Select A Train To View Status Information </span>
            <select name="trainnum" required>
              <option value="default" selected="selected">Select train...</option>
                {% for t in trains %}
                <option value= "{{t}}"> Train number {{ t }}</option>
              {% endfor %}
            </select>
          </label>
          
          <button type="submit" class="button">Submit</button>
          </form>
            
      </div>

    </div>

    {% endblock %}






