<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Learnr</title>
<link href="../static/css/styles.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>

<!---menu-->
<link rel="stylesheet" href="../static/css/superfish.css" media="screen">
<script src="../static/js/jquery-1.9.0.min.js"></script>
<script src="../static/js/hoverIntent.js"></script>
<script src="../static/js/superfish.js"></script>

{%if username%}
<h7>Signed in as {{username}}</h7> <a href="signedout">Sign Out</a>
{%endif%}


<header>		
  <div class="header-wrap">
  <div class="logo">
    <h1>Learnr</h1>
  </div>
  <div class="menu">
    <ul class="sf-menu" id="example">
      <li><a href="index">Home</a></li>
      <li><a href="meetup">Create Meetup</a></li>
      <li> <a href="listmeetups">List Meetups </a> </li>
      <li> <a href="search">Search for a Meetup</a></li>
	  <li><a href="signup">Sign Up</a></li>
	  <li><a href="login">Login</a></li>
    </ul>
  </div>
</div>
</header>
<body>
{% block content %}
{% endblock %}
</body>
