{% extends "layout.html" %}
{% block content %}

<div class="page">
	<div class="panel">
		<div class = "title">
		
		<h1>Search by Class</h1>
		<h3>Enter the Class Name of the class you want to find a meetup for!</h3>
		  <div class="contact-form mar-top30">
			<form method="post" action="{{ url_for('meetupsearch') }}">
				<label> <span>Class Name:</span>
				  <input type="text" class="input_text" name="s"/>
				</label>
				  <button type="submit" class="button">Submit</button>
				</label>
			</form>
          </div>
		  
		{% if error %} 
		<p class=error><strong>Error:</strong> {{ error }}
		{% endif %}  
        </form>
		</div>
	</div>
</div>

{% endblock %}